<section class="hero py-16 top" style="background: #F4E7DE;">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2 topleft">
      <p class="quotes">Find your book <p class="quotes1">and lose yourself</p></p>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary orderNowBtn"
      >
        Order Now
      </button>
    </div>
    <div class="w-1/2">
      <img src="/images/book.png" alt="" />
    </div>
  </div>
</section>
<section class="menu container mx-auto py-8">
  <h1 class="text-xl font-bold mb-8">All Books</h1>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16"
  >
    <% books.forEach(function(book) { %>
    <div class="w-full md:w-64">
      <a href="/detail/<%=book._id%>"
        ><img class="h-40 mb-4 mx-auto" src="/images/<%= book.image %>" alt=""
      /></a>
      <div class="text-center">
        <a href="<%=book.data%>" class="mb-4 text-lg"
          ><%= book.name %></a
        >
        <div class="size py-1 px-4 rounded-full uppercase text-xs">
          <%= book.author %>
        </div>
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹<%= book.price %></span>
          <button
            data-pizza="<%= JSON.stringify(book) %>"
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
          >
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<footer style="width: 100vw;">
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="/editorChoice">Editor's Picks</a></li>
        <li><a href="/bestSeller">Best Sellers</a></li>
        <li><a href="/orders">My Orders</a></li>
        <li>
          <a href="mailto:adihgr18@gmail.com" target="_blank">Contact us</a>
        </li>
      </ul>
    </div>

    <div class="row">
      Made by Aditya Sharma
    </div>
  </div>
</footer>
