<div class="detailContainer" style="width: 80vw;">
  <h1 class="detailTitle" style="text-align: center;"><%=books.name%></h1>
  <img
    src="/images/<%=books.image%>"
    class="h-40 mb-4 mx-auto"
    alt="book image"
  />
  <h4><%=books.author%></h4>
  <b><%=books.price%></b>
  <p><%=books.description%></p>
</div>
